<!DOCTYPE html>
<!-- <html lang="pt-br" xmlns:th="http://www.thymeleaf.org"> -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contatos</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />

</head>

<body>
    <h1>Lista de Contatos</h1>
    <div>
        <nobr>
            <a th:href="@{/contatos/add}">Novo Contato</a> |
            <a th:href="@{/}">Voltar para Index</a>
        </nobr>
    </div>
    <br/><br/>
    <div>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Editar</th>
            </tr>
            <tr th:each="contato : ${contatos}">
                <td><a th:href="@{/contatos/{contatoId}(contatoId=${contato.id})}" th:utext="${contato.id}">...</a></td>
                <td><a th:href="@{/contatos/{contatoId}(contatoId=${contato.id})}" th:utext="${contato.nome}">...</a></td>
                <td th:utext="${contato.telefone}">...</td>
                <td th:utext="${contato.email}">...</td>
                <td><a th:href="@{/contatos/{contatoId}/editar(contatoId=${contato.id})}">Editar</a></td>
            </tr>
        </table>
    </div>
    <br/><br/>
    <div>
        <nobr>
            <span th:if="${hasPrev}"><a th:href="@{/contatos?page={prev}(prev=${prev})}">Anterior</a>&nbsp;&nbsp;&nbsp;</span>
            <span th:if="${hasNext}"><a th:href="@{/contatos?page={next}(next=${next})}">Proxímo</a></span>
        </nobr>
    </div>
</body>

</html>